<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTMenuTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF4E53A91E4D929700A27017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF4E53C21E4D929700A27017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF4E53CD1E4D929700A27017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
